.category-header {
  margin-bottom: 3rem;
}
.category-title {
}
.category-name {
  text-transform: capitalize;
}

.product-card {
	position: relative;
	max-width: 325px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.035);
	box-shadow: 0 0.15rem .35rem rgba(0, 0, 0, 0.05);
	overflow: hidden;
}

.product-card__image-holder {}

.product-card__figure {
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
	height: 350px;
	overflow: hidden;
}

.product-card__figure:hover .product-card__figure-overlay {
	opacity: 1;
	transform: translateY(0%);
}

.product-card__figure-overlay {
	display: flex;
	align-items: center;
	background-image: linear-gradient(rgba(61, 64, 104, 0.35) 70%, rgba(0, 0, 0, 0.35));
	opacity: 0;
	transform: translateY(5%);
	transition: transform 250ms ease-in-out, opacity 300ms ease-in-out;
}

.product-card__overlay-actions {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0.25rem;
	background: rgba(61, 64, 104, 0.7);
}

.product-card__figure-overlay-button {
	margin: 0.5rem;
}

.product-card__image {
	display: block;
	height: 100%;
}

.product-card__wishlist-add {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

.product-card__wishlist-icon {}

.product-card__info {}

.product-card__name {
	margin-bottom: 0.25rem;
	height: calc(2 * 1.125 * 1.25rem);
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: block;
}

.product-card__brand {
	margin-bottom: 0.5rem;
}

.product-card__price {
	padding: 0.5rem;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 2px solid rgba(255, 124, 48, 0.808);
}

.product-card__actions {
	padding: 1rem 1.5rem;
}

.product-card__actions>.button {
	margin-bottom: 0.5rem;
}

.discount-info {
  text-align: center;
  position: absolute;
  bottom: 1rem;
  right: -3rem;
  display: block;
  width: 11rem;
  padding: 0.5rem;
  transform: rotate(-45deg);
}

.product-preview-modal__image-holder {
}

img.product-preview-modal__image {
  max-width: 225px;
  display: block;
  margin: 0 auto;
}

.product-preview-modal__product-header {
  margin-bottom: 1rem;
}

.product-preview-modal__product-price {
  margin-bottom: 1rem;
}
.product-preview-modal__description {
}
.product-preview-modal__actions {
}

.blank-modal__overlay {
  position: fixed;
  z-index: 40;
  background-image: linear-gradient(45deg, rgba(69, 93, 122, 0.805), rgba(46, 153, 176, 0.805));
  transition: opacity 300ms cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.blank-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 1rem;
  width: 90%;
  max-width: 900px;
  min-height: 300px;
  transform: translateY(-50%) translateX(-50%);
  background-color: white;
  opacity: 1;
  border-radius: 5px;
  transition: all 300ms cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.blank-modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
}

.slide-up-enter {
  opacity: 0;
}
.slide-up-enter-active {
  opacity: 1;
}
.slide-up-enter-done {
  opacity: 1;
}

.slide-up-exit-active {
  opacity: 0;
}

.slide-up-enter .blank-modal {
  opacity: 0;
  transform: translateY(-35%) translateX(-50%);
}
.slide-up-enter-active .blank-modal {
  opacity: 1;
  transform: translateY(-50%) translateX(-50%);
}
.slide-up-enter-done .blank-modal {
  opacity: 1;
  transform: translateY(-50%) translateX(-50%);
}

.slide-up-exit-active .blank-modal {
  opacity: 0;
  transform: translateY(-35%) translateX(-50%);
}

