
.navbar {
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.navbar-brand {
	justify-content: center;
}
.navbar-end {
	flex-wrap: wrap;
}
.navbar-item {
	flex-grow: 0;
	flex-shrink: 0;
	display: block;
	line-height: 1.5;
	padding: .5rem .75rem;
	position: relative;
}
.navbar-icon {
	margin-right: 0.25rem;
}

@media screen and (max-width: 1087px) {
	.navbar-item.has-text-white:hover {
		color: #242424 !important;
	}
}

.wishlist-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border: none;
	border-radius: 50%;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
	transition: opacity 200ms ease-in-out;
}

.wishlist-button:hover {
	cursor: pointer;
}

.wishlist-button:disabled:hover {
	opacity: 0.75;
}

.wishlist-button__icon {
	transition: color 150ms ease;
}
