.hero {
  background-size: cover;
  background-repeat: no-repeat;
}

.img_header {
  display: inline-block;
  width: 50%;

  /*height: 20%;*/
}
@media screen and (max-width: 768px) {
  .img_header_mobile {
    display: inline-block;
    width: 90%;

  }
}

.round-button {
  display:block;
  width:60px;
  height:60px;
  line-height:80px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #555777;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
}
.round-button:hover {
  background: #777555;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: auto;
  margin-left: auto;
  margin-right: auto;
}
