.category-header {
  margin-bottom: 3rem;
}
.category-title {
}
.category-name {
  text-transform: capitalize;
}

.is-custom-font {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
